
/WebAppTest/WebAppTest/obj
/WebAppTest/WebAppTest/bin

/DBDemoCodeFirst/DBDemoCodeFirst/obj
/DBDemoCodeFirst/DBDemoCodeFirst/bin

/DBDemoDBFirst/DBDemoDBFirst/obj
/DBDemoDBFirst/DBDemoDBFirst/bin

/LinjieWebApi/LinjieWebApi/obj
/LinjieWebApi/LinjieWebApi/bin

/LinjieWebApp/LinjieWebApp/obj
/LinjieWebApp/LinjieWebApp/bin

/LinjieWebMVC/LinjieWebMVC/obj
/LinjieWebMVC/LinjieWebMVC/bin


/ConsoleApp/ConsoleApp/obj
/ConsoleApp/ConsoleApp/bin

/ConsoleApp1/obj
/ConsoleApp1/bin

/EFCOREDB/obj
/EFCOREDB/bin


/WebAppApi/WebAppApi/obj
/WebAppApi/WebAppApi/bin


/WebAppNet5/WebAppNet5/obj
/WebAppNet5/WebAppNet5/bin


/WebAppRazor/WebAppRazor/obj
/WebAppRazor/WebAppRazor/bin


/WindowsFormsTest/obj
/WindowsFormsTest/bin

/WPFApp/WPFApp/obj
/WPFApp/WPFApp/bin
