
/ConsoleApp/ConsoleApp/obj
/ConsoleApp/ConsoleApp/bin

/ConsoleApp1/obj
/ConsoleApp1/bin

/EFCOREDB/obj
/EFCOREDB/bin


/WebAppApi/WebAppApi/obj
/WebAppApi/WebAppApi/bin


/WebAppNet5/WebAppNet5/obj
/WebAppNet5/WebAppNet5/bin


/WebAppRazor/WebAppRazor/obj
/WebAppRazor/WebAppRazor/bin


/WindowsFormsTest/obj
/WindowsFormsTest/bin

/WPFApp/WPFApp/obj
/WPFApp/WPFApp/bin
